:root {
  --fonte:'Montserrat', sans-serif;
  --branco: #f9f9f9;
  --preto: #000000;
  --cinza: #e2e2e2;
  --cinza-escuro: #838080;
}


body {
  background-color: var(--branco);
  margin: 0;
  font-family: var(--fonte);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
